{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Books</title>
    <link rel="stylesheet" href="{% static 'books/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'books/css/base.css' %}" >
    {% block staticCSS %} {% endblock %}
    <script src="{% static 'books/js/zepto.min.js' %}"></script>
</head>
<body>
<div class="container">
    <nav class="nav" id="header"> 
        <h1 class="col-md-9"><a href="/">Super Books</a></h1>
        <div id="header-status" class="col-md-3">
            {% if user.is_authenticated %}
            <span>Hi, {{ user.username }}</span> 
            <a href="/libadmin/">Management</a>
            <a href="/logout/">Log out</a>
            {% else %}
            <a href="/login/">Log in</a>
            {% endif %}
        </div>
    </nav>
    <div class="col-md-12">
        {% block container %} {% endblock %}
    </div>
</div>
{% block staticJS %} {% endblock %}
</body>
</html>
