{% extends "books/base.html" %}
{% load staticfiles %}

{% block staticCSS %}
<link rel="stylesheet" href="{% static 'books/css/libadmin.css' %}"/>
{% endblock %}
{% block container %}
<div id="side-bar" class="col-md-3">
    <ul class="nav">
        <li><a class="side-bar-tag" href="javascript:void(0)" id="add-book">Add Books</a></li>
        <li><a class="side-bar-tag" href="javascript:void(0)" id="del-book">Delete Books</a></li>
        <li><a class="side-bar-tag" href="javascript:void(0)" id="add-card">Add Card</a></li>
        <li><a class="side-bar-tag" href="javascript:void(0)" id="del-card">Delete Card</a></li>
        <li><a class="side-bar-tag" href="javascript:void(0)" id="book-borrow">Borrow</a></li>
        <li><a class="side-bar-tag" href="javascript:void(0)" id="book-return">Return</a></li>
        <li><a class="side-bar-tag" href="javascript:void(0)" id="book-file">Add Book by JSON</a></li>
    </ul>
</div>
<div class="col-md-9">
	<div id="message" class="alert alert-danger hidden" role="alert">
	</div>
	<div class="mng-tag hidden" id="add-book-tag">
		<form class="form-horizontal">
			<div class="form-group">
			<label class="col-md-3 control-label">Book ID</label>
			<div class="col-md-9">
			<input class="form-control" type="text" name="book_id" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Category</label>
			<div class="col-md-9">
			<input class="form-control" type="text" name="category" required/>	
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Book Name</label>	
			<div class="col-md-9">
			<input class="form-control" type="text" name="name" required/>	
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Publish Company</label>
			<div class="col-md-9">
			<input class="form-control" type="text" name="pub_com" required/>	
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Publish Year</label>
			<div class="col-md-9">
			<input class="form-control" type="text" name="pub_year" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Author</label>
			<div class="col-md-9">
			<input class="form-control" type="text" name="author" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Price</label>
			<div class="col-md-9">
			<input class="form-control" type="text" name="price" required/>	
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">amount</label>
			<div class="col-md-9">
			<input class="form-control" type="text" name="amount" required/>
			</div>
			</div>
			<button type="submit" id="add-book-submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
	<div class="mng-tag hidden" id="del-book-tag">
		<form class="form-horizontal">
			<div class="form-group">
			<label class="col-md-3 control-label">Book ID</label>	
			<div class="col-md-9">
			<input class="form-control" type="text" name="book_id" required/>	
			</div>
			</div>
			<button type="submit" id="del-book-submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
	<div class="mng-tag hidden" id="del-card-tag">
		<form class="form-horizontal">
			<div class="form-group">
			<label class="col-md-3 control-label">Card ID</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="card_id" required/>
			</div>
			</div>
			<button type="submit" id="del-card-submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
	<div class="mng-tag hidden" id="add-card-tag">
		<form class="form-horizontal">
			<div class="form-group">
			<label class="col-md-3 control-label">Card ID</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="card_id" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Borrowing Limit</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="limit" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Card Type</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="card_type" required/>
			</div>
			</div>
			<button type="submit" id="add-card-submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
	<div class="mng-tag hidden" id="book-borrow-tag">
		<form class="form-horizontal">
		<div class="form-group">
			<label class="col-md-3 control-label">Book</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="book_name" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Card ID</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="card" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Borrow Time</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="borrow_time" required/>
			</div>
			</div>
			<button type="submit" id="book-borrow-submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
	<div class="mng-tag hidden" id="book-return-tag">
		<form class="form-horizontal">
		<div class="form-group">
			<label class="col-md-3 control-label">Book</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="book_name" required/>
			</div>
			</div>
			<div class="form-group">
			<label class="col-md-3 control-label">Card ID</label>
			<div class="col-md-9">
			<input class="form-control" type='text' name="card" required/>
			</div>
			</div>
			<button type="submit" id="book-return-submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
	<div class="mng-tag hidden" id="book-file-tag">
		<form>
			<div class="form-group col-md-offset-1">
			<label class="control-label" for="file">JSON Text</label>
			<textarea class="form-control" name="file" rows="5" placeholder="Please type standard JSON string" required></textarea>
			</div>
			<button type="submit" id="book-file-submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
</div>
</div>
{% endblock %}
{% block staticJS %}
<script src="{% static 'books/js/libadmin.js' %}"></script>
{% endblock %}
