{% extends "books/base.html" %}
{% load staticfiles %}

{% block staticCSS %}
<link rel="stylesheet" href="{% static 'books/css/search.css' %}"/>
{% endblock %}

{% block container %}
{% if none %}
    <div id="message" class="alert alert-danger" role="alert">Oh, No book matched</div>
{% else %}
	<div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
{% endif %}

<form class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" name="content" id="search-content" placeholder="Please type the book you want">
	</div>
	<button type="submit" class="btn btn-primary" id="search-submit">Search</button>
</form>

{% if not none %}
	<ul id="info" class="nav">
	{% for book in books %}
	    <li class="search-item">
	    	<span class="book-id">{{ book.book_id }}</span>
	    	<span class="book-category">{{ book.category }}</span>
	    	<span class="book-name">{{ book.name }}</span>
	    	<span class="book-pub-com">{{ book.pub_com }}</span>
	    	<span class="book-pub-year">{{ book.pub_year }}</span>
	    	<span class="book-author">{{ book.author }}</span>
	    	<span class="book-price">{{ book.price }}</span>
	    </li>
	{% endfor %}
	</ul>
{% endif %}
<script type="text/javascript">
$(function() {
    $('#search-submit').bind('click', function(e) {
    	e.preventDefault();
		var search_content = $('#search-content').val();
		if (search_content == '')
			$('#message').text('You have to type something').css('display', 'block');
		else
	        window.location = '/search/' + search_content
    });
});
</script>
{% endblock %}
